<% include partials/header %>

<div class="ui main text container">
    
    <div class="ui huge header">
		<%= blog.title %>
	</div>
    
    <div class="description">
				<p><%- blog.body %></p>
	</div>
	 
	<form class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
		<button class="ui red basic button">DELETE</button>
	</form>
</div>
 
<% include partials/footer %>