<% include partials/header %>

<div class="ui main text container">
    
    <div class="ui huge header">
		<%= blog.title %>
	</div>
    
    <div class="description">
				<p><%- blog.body %></p>
	</div>

</div>
 
<% include partials/footer %>